<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

    <head title="Pojištovna" th:replace="~{fragments/layout.html :: fragmentHead}"></head>

    <body>
    <div class="main-content">

        <!--HEADER-->
        <header th:replace="~{fragments/layout.html :: fragmentNavigace}"></header>

        <section class="container px-2 my-5">


            <!--Flash messages-->
            <div th:replace="~{fragments/layout.html :: fragmentFlash}"></div>

            <h5 class="nadpis">Detaily uživatele</h5>

            <div class="container mt-4">
                <table class="table ">

                    <thead>
                    <tr>
                        <th class="tableBorders">
                            <div th:text="${user.name} +' '+ ${user.surname}"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td class="tableBorders"><div th:text="${user.city}"></div></td>
                        <td class="tableBorders"><div th:text="${user.email}"></div></td>
                    </tr>

                    <tr>
                        <td  class="tableBorders"><div th:text="${user.streetAndNumber}"></div></td>
                        <td  class="tableBorders"><div th:text="${user.telephone}"></div></td>
                    </tr>

                    <tr>
                        <td  class="tableBorders"><div th:text="${user.postalCode}"></div></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <br>


            <h5 class="nadpis my-2">Pojištění uživatele:</h5>
            <tr th:each="item : ${userInsurances}">
                <td th:text="${item.insurance.predmet} + ': ' +  ${item.value} + ' Kč'"></td>

                <td>
                    <div class="d-flex mb-4">
                        <form th:action="@{/uzivatele/insurance/delete/{id} (id=${item.id}) }" method="post" class="px-1">
                            <button type="submit" class="btn btn-danger">Smazat</button>
                        </form>
                        <form th:action="@{/uzivatele/insurance/edit/{id} (id=${item.id}) }" method="get" class="px-1">
                            <button type="submit" class="btn btn-info">Editovat</button>
                        </form>
                    </div>
                </td>
            </tr>

            <div>
                <p></p>
                <h5 class="nadpis my-2">Přidat nové pojištění:</h5>
                <form th:action="@{'/uzivatele/' + ${user.id}}" method="post">
                    <label for="insurance">Vyberte pojištění:</label>
                    <select id="insurance" name="pojisteniId" required>
                        <option th:each="insurance : ${insurance}"
                                th:value="${insurance.id}"
                                th:text="${insurance.predmet}">
                        </option>
                    </select>
                    <br>
                    <label for="value">Částka pojištění:</label>
                    <input id="value" name="value" type="number" step="1" min="0" placeholder="Zadejte částku" required>
                    <br>
                    <button type="submit">Přiřadit pojištění</button>
                </form>
            </div>



        </section>




    </div>
    </body>


    <!--Footer-->
    <footer th:replace="~{fragments/layout.html :: fragmentFooter}"></footer>

    <!--Scripty-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>
