<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

    <head title="Pojištovna" th:replace="~{fragments/layout.html :: fragmentHead}"></head>

    <body>
    <div class="main-content">

        <!--HEADER-->
        <header th:replace="~{fragments/layout.html :: fragmentNavigace}"></header>

        <section class="container px-2 my-5">




            <div class="container mt-4">
                <table class="table ">



                    <div>

                        <h3>Upravit pojištění</h3>
                        <form th:action="@{'/user/insurance/edit/' + ${id}}" method="post">

                            <label for="insurance">Vybrané pojištění:</label>
                            <select id="insurance" name="insuranceID" required>
                                <option th:each="insurance : ${insurance}"
                                        th:value="${insurance.insurance.id}"
                                        th:text="${insurance.insurance.name}">
                                </option>
                            </select>

                            <br>
                            <label for="value">Částka pojištění:</label>
                            <input id="value" name="value" type="number" step="1" min="0" placeholder="Zadejte částku" required>
                            <br>
                            <button type="submit">Upravit pojištění</button>
                        </form>
                    </div>


                </table>
            </div>



        </section>




    </div>
    </body>


    <!--Footer-->
    <footer th:replace="~{fragments/layout.html :: fragmentFooter}"></footer>

    <!--Scripty-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>
