<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<body>


<div th:fragment="fragmentCreateInsuranceForm">

    <div class="row mb-3 " >

        <div class="col-md-12">
            <label for="predmet">Předmět:</label>
            <input type="text" id="predmet" th:field="*{predmet}" class="form-control" placeholder="Název pojištění"/>
            <div class="py-2 flash-message message-error" th:text="${predmet}" th:if="${predmet}"></div>
        </div>

        <div class="col-md-12">
            <label for="popis">Popis:</label>
            <input type="text" id="popis" th:field="*{popis}" class="form-control" placeholder="Popis pojištění"/>
        </div>

        <button class="my-3" type="submit">Uložit</button>

    </div>

</div>



</body>

</html>