
@import url('/styles/styleNav.css');
@import url('/styles/styleFooter.css');
@import url('/styles/stylePojistenciForm.css');

:root{

    --mainColorDark: #0378ff;
    --mainColorLight: rgb(183, 183, 183);
    --mainColorBlack: rgb(0, 0, 0);

    --mainBackgroundColorDark: rgb(56, 56, 56);
    --mainBackgroundColorLight: #0077ff;
    --mainBackgroundColorWhite: #ffffff;

    --borders: 0px;
}


html, body {

    /* Flex */
    display: flex;
    flex-direction: column;

    /* Velikosti a pozice */
    height: 100%;
    margin: 0;

}

.main-content {
    flex: 1;

    font-family: 'Courier New';
    font-size: medium;
}


.borders{
    border: var(--borders) solid red;
}

.tableBorders{
    border: 0px solid red;
    border-bottom: 0px;
}


.flash-message {
    padding: 10px 15px;
    margin: 2px 0;
    border-radius: 10px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.message-success {
    background-color: #6ec783;
    color: #020202;
    border: 3px solid #00000030;
}

.message-delete {
    background-color: #929292;
    color: #020202;
    border: 3px solid #00000030;
}


.message-error {
    background-color: #db6b6b;
    color: #020202;
    border: 3px solid #00000030;
}