<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: fragmentHead}"><title>Jooooo</title></head>

<body>
<div class="main-content">

    <header th:replace="~{fragments/layout.html :: fragmentNavigace}"></header>




    <section class="container px-2">
        <article class="container | borders ">

            <h4 class="my-4 PojistenciFont">Nový pojištěnec</h4>

            <form th:object="${evidencePojisteniDTO}" action="/pojisteni/create" method="post">
                <div class="row mb-3">

                        <div class="col-md-12">
                            <label for="predmet">Předmět:</label>
                            <input type="text" id="predmet" th:field="*{predmet}" class="form-control" placeholder="Název pojištění"/>
                        </div>

                        <div class="col-md-12">
                            <label for="popis">Popis:</label>
                            <input type="text" id="popis" th:field="*{popis}" class="form-control" placeholder="Popis pojištění"/>
                        </div>

                    <button class="my-3" type="submit">Uložit</button>

                </div>
            </form>





        </article>
    </section>







</div>
</body>


<footer th:replace="~{fragments/layout.html :: fragmentFooter}"></footer>

<!--Scripty-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>