<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: fragmentHead}"></head>

<body>
<div class="main-content">

    <header th:replace="~{fragments/layout.html :: fragmentNavigace}"></header>


    <section class="container px-2 my-5">

        <!-- Vytvořit pojištění-->
        <div class="my-5 px-2 justify-content-end align-items-center text-center">
            <a th:href="@{/pojisteni/create}" ><button class="btn btn-success">Vytvořit pojištění</button> </a>
        </div>


        <!--Tabulka pojištění-->
        <table class="pojistenciTable mb-5">
            <thead>
            <tr>
                <th>Předmět</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pojisteni : ${vypsatVsechnyPojisteni}">
                <td th:text="${pojisteni.predmet}"></td>

                <td>
                    <div class="d-flex">
                        <form th:action="@{/pojisteni/delete/{id}(id=${pojisteni.id})}" method="post" class="px-1">
                            <button type="submit" class="btn btn-danger">Smazat</button>
                        </form>
                        <form th:action="@{/pojisteni/{id}(id=${pojisteni.id})}" method="get" class="px-1">
                            <button type="submit" class="btn btn-warning">Detail</button>
                        </form>
                        <form th:action="@{/pojisteni/edit/{id}(id=${pojisteni.id})}" method="get" class="px-1">
                            <button type="submit" class="btn btn-info">Editovat</button>
                        </form>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>

    </section>


</div>
</body>


<footer th:replace="~{fragments/layout.html :: fragmentFooter}"></footer>

<!--Scripty-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>