<!doctype html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: fragmentHead}"></head>

<body>
<div class="main-content">

    <header th:replace="~{fragments/layout.html :: fragmentNavigace}"></header>


    <section class="container px-2 my-5">

        <!--Flash messages-->
        <div th:replace="~{fragments/layout.html :: fragmentFlash}"></div>


        <!-- Vytvořit pojištění-->
        <div class="my-5 px-2 justify-content-end align-items-center text-center">
            <a th:href="@{/pojisteni/create}" ><button class="btn btn-success">Vytvořit pojištění</button> </a>
        </div>


        <!-- Tabulka pojištění -->
        <div class="container mb-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">

                    <thead class="table-dark">
                    <tr>
                        <th>Předmět</th>
                        <th>Akce</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="pojisteni : ${vypsatVsechnyPojisteni}">
                        <td th:text="${pojisteni.predmet}"></td>
                        <td>
                            <div class="d-flex flex-wrap gap-2">
                                <form th:action="@{/pojisteni/delete/{id}(id=${pojisteni.id})}" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Smazat</button>
                                </form>
                                <form th:action="@{/pojisteni/{id}(id=${pojisteni.id})}" method="get">
                                    <button type="submit" class="btn btn-warning btn-sm">Detail</button>
                                </form>
                                <form th:action="@{/pojisteni/edit/{id}(id=${pojisteni.id})}" method="get">
                                    <button type="submit" class="btn btn-info btn-sm">Editovat</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </section>


</div>
</body>


<footer th:replace="~{fragments/layout.html :: fragmentFooter}"></footer>

<!--Scripty-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>